@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

:root {
    
}

body {
    margin: 0 auto;
    font-family: 'Roboto', system-ui, sans-serif;
}

button {
    font-family: 'Press Start 2P';
}

header {
    margin: auto 0;
    text-align: center;
}

main {
    display: none;
    grid-template-columns: repeat(3, 1fr);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding: 20px;

    & img {
        width: 10rem;
    }
}

h2 { 
    font-family: 'Press Start 2P';
    font-size: 1.2rem;
    margin-top: 40px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

input {
    border: none;
    background-color: beige;
    border-radius: 10px;
    padding: 5px 10px;
}

label {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;    
}

label, p {
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .1rem;
}

.divider {
    border-top: 3px solid #000000;
}

.pokemon-selection {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-direction: row;
    gap: 25px;

    & img {
        width: 8rem;
        opacity: 70%;
    }

    & img:hover {
        opacity: 100%;
        scale: 1.15;
    }

}

h1 {
    
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
    width: 7rem;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    opacity: 100%;
    scale: 1.15;
  }

.board-container {
    border: 2px solid black;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    border: 2px solid red;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 8rem;
    }
}

.winner-accouncement { 
    border: 2px blue solid;
    height: 200px
}
